#background-wallpaper {
  background: url(https://cutewallpaper.org/21/pokemon-landscape-wallpaper/Pokemon-Sun-and-Moon-HD-Wallpaper-Background-Image-.jpg)
    fixed;
  /* zoom: 0.55; */
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.half {
  width: 50%;
  display: table-cell;
}

.character-card {
  background: linear-gradient(110deg, rgba(255, 222, 0, 1) 34%, rgb(232, 255, 153) 85%);
  display: inline;
  width: 355px;
  padding: 1em;
  border-radius: 15px;
  margin: 10px;
  box-shadow: 0px 5px 20px -10px #111111;
}

h2,
p {
  padding: 2%;
}

#contact-info {
  width: 50%;
  top: 10px;
}

.row {
  margin: auto;
  height: 100%;
}

.gallery-container {
  max-width: auto;
  height: 100%;
}

.about-info {
  background: linear-gradient(110deg, rgba(255, 222, 0, 1) 34%, rgb(232, 255, 153) 85%);
  display: inline-block;
  /* height: 400px; */
  width: auto;
  padding: 1em;
  border-radius: 15px;
  margin: 10px;
  /* text-align: left; */
  box-shadow: 0px 5px 20px -10px #111111;
}

.slick-dots {
  bottom: -80px;
}

.gallery-slider figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 0;
  max-width: 240px;
  margin-left: 10px;
  margin-right: 10px;
  height: auto;
  text-align: center;
  cursor: pointer;
}

.gallery-slider figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
}

.gallery-slider figure figcaption {
  padding: 1em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.gallery-slider figure figcaption::before,
.gallery-slider figure figcaption::after {
  pointer-events: none;
}

.gallery-slider figure figcaption,
.gallery-slider figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.gallery-slider figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

figure.character-card img {
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, transform 1s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

figure.character-card figcaption {
  display: flex;
  align-items: center;
}

figure.character-card h2 {
  position: relative;
  padding: 0.5em 0;
}

figure.character-card p {
  display: inline-block;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-360px, 0, 0);
  transform: translate3d(-360px, 0, 0);
}

figure.character-card p:first-child {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

figure.character-card p:nth-of-type(2) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

figure.character-card p:nth-of-type(3) {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

figure.character-card:hover p:first-child {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

figure.character-card:hover p:nth-of-type(2) {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

figure.character-card:hover p:nth-of-type(3) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

figure.character-card:hover img {
  opacity: 0.4;
  -webkit-transform: scale3d(1.1, 1.1, 1);
  transform: scale3d(1.1, 1.1, 1);
}

figure.character-card:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.gallery-slider .slick-dots li {
  background-color: #ffffff;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin: 0 10px;
  transition: all 0.3s ease;
}
